*{
  font-family:'Brawler';
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
}

.nav-li {
  float: right;
}

.nav-li a {
  display: block;

  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin: 5px;
}

@media screen and (max-width: 720px) {
  .skillimg{
    height: 80px;
    width:80px;
  }
  .sub-li {
    display: none;
  }
  #profilepic {
    width: 150px;
    float: right;
    height: 150px;
  }
  .floatingbuttons{
    display: none;
  }
  #about{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width:500px) {
  .col-sm-9 {
    position: relative;
  }
  .skillimg{
    height: 40px;
    width:40px;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #profilepic {
    width: 150px;
    float: right;
    height: 150px;
  }
  #img2 {
    height: 200px;
    width: 150px;
  }
  #contact{
    width:300px;
    height: 300px;
    background-size: 300px 300px;
  }
}

#profilepicdiv {
  float: right;
  border: 6px solid #00A36C;
  border-radius: 50%;
  padding: 5px;
  border-top-color: transparent;
  border-left-color: transparent;

}

#profilepic {

  width: 380px;
  float: right;
  height: 380px;
}

.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}

.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  width: 3px;
  animation: blink 1s infinite;
}

.container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}

#img2 {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  position: absolute;
  top:10px;
  right:0px;
}

#resume, .prolink {
  border: 2px solid #00A36C;
  outline: none;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  background-color: #00A36C;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
}
#resume{
  font-size: 23px;
}
#resume:hover , .prolink:hover{
  color: #00A36C;
  border: 2px solid #00A36C;
  background-color: #fff;
  transition: color 1s, background-color 1s, border 1s;
}
#submit{
  color: #00A36C;
  background-color: #fff;
  outline: none;
  border: 2px solid white;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#submit:hover{
  color: white;
  background-color: #00A36C;
  border: 2px solid #00A36C;
}
a {
  color: white;
}

.floatingbuttons {
  padding: 5px;
  margin: 8px;
  background: #00a36d6d;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left:20px;
  
transform: translate(-50%, -50%);
}

.floatingbuttons i {
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

p{
  word-wrap:break-word;
  padding: 10px;
}

#about{
  cursor: pointer;
  margin:20px;
  border-radius: 5px;
}
#contact{
  background-image: url('images/chat.jpg');
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;
  padding: 30px;
  background-size: 600px 600px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color:#fff;
}
.options{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.options div{
  margin: 20px;
  margin-left: 50px;
}
input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  
}
label{
  float: left;
  margin-left: 20px;
}
textarea{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  resize: none;
}
.card1{
  padding: 15px;
  border:1px solid #00A36C;
  color: #00A36C;
  width:200px;
  height: 100px;
  border-radius: 10px;
}
.education{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0px 30px;
  padding:20px;
  justify-content: center;
}
.cardedu{
  border-radius: 5px;
  border:1px dashed #000000;
  color: #000000;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  width:250px;
  transition: transform .6s;
}
.cardedu:hover{
  transform: scale(1.1); 
}
.score{
  width:100px;
  background-color: #00A36C;
  color: #fff;
  font-weight: bold;
  padding: 0px;
  border-radius: 5px;
  margin-top: 40px;
}
#colors{
  position: relative;
  width:310px;
  height: 310px;
  background-color: #00a36d6d;
  border-radius:30px;
}
.workimg{
  width:80px;
  height:80px;
  padding: 5px;

}
h3{
  font-size: 35px;
  margin:40px;
  font-family: 'Bree Serif';
}
.workcard{
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-left: 47px;
  margin-bottom: 0px;
  border-left: 2px solid #00A36C;
}
.workcard1{
color: #00A36C;
margin-left:40px;
margin-bottom: 0px;
}
#skill,#pro,#repos{
  padding:5px;
  margin:40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.skillimg{
  height: 100px;
  width:100px;
  position: relative;
}
.skill{
  padding:10px;
  margin:10px;
  cursor: pointer;
}
.skill:hover{
  transform: scale(1.1); 
  transition: transform 2s;
}

.prolist{
  border:1px solid black;
  width:300px;
  height:500px;
  border-radius:5px;
  margin:20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: left;
  }
  .proimg{
  height:250px;
  width:290px;
  border-radius:15px;
  padding:10px;
  margin-top: 5px;
  transition: height 10s;
}
  .protitle{
    font-size: 20px;
  margin:5px 20px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: bolder;
  color: #00A36C;
  }
  .proexplain{
  margin:0px 10px;
    float: left;
    text-align: left;
}
.divimg{
  float:left;

}
  .proskill{
    height: 25px;
    width: 25px;
    padding: 1px;
    margin:2px;
  }
  .hr{
    margin:10px 20px;
    position: relative;
      }
  .fa{
    margin: 2px;
  }

.Footer{
  background-color: #00A36C;
  padding: 30px;
  margin: auto;
}
#footer{
  font-size: 35px;
  color: #fff;
  text-align: center;
  
  font-family: 'Bree Serif';
}
*{
  font-weight: 500;
}

.ag-format-container {
  width: 1142px;
  margin: 0 0;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
#ag-courses_item {
  margin: 0 15px;
  overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  width:250px;
  word-wrap: break-word;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  margin:20px;
  text-decoration: none;
  border-radius:30px;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 22px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 23px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #00A36C;
  cursor: pointer;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 138px;
  width: 138px;
  background-color: #00A36C;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


@media only screen and (max-width: 979px) {
  #ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  #ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 25px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 25px;
  }
}